body {
  background-color: #f0f0f0;
  /* Светло-серый фон */
  font-family: sans-serif;
  /* Современный шрифт */
}

h1 {
  color: green;
  text-align: center;
  /* Центрируем заголовок */
}

p {
  color: #555;
  /* Заменил lightblue на темно-серый для читаемости, но можешь вернуть! */
  font-size: 20px;
}

ul {
  color: rebeccapurple;
}

a {
  color: lawngreen;
}

h2 {
  color: lightcoral;
}

.importat-text {
  color: red;
  font-weight: bold;
  /* Делаем текст жирным */
}

.secret {
  color: rgba(100, 0, 150, 0.7);
  /* Фиолетовый цвет с прозрачностью 70% */
  font-style: italic;
  /* Курсив */
}